@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: black;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 35px;
}
#hero-msg h1 , #hero-msg h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em; 
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
    background-color: burlywood;
}
body {
    background-color: #fcfbfb; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: darkgray;
}
nav a:hover{
    background-color: gray;
    color: blue;
}
.book, .join{
    background-color: gray;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: black;
    color: blue;
}
#background{
    height: 725px;
    background-color: burlywood;
    margin: 200px 0;
}
.msg{
    background-color: darkgray;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}
h4{
    color: black;
}
.msg h2{
    color: white;
}
.msg p{
    font-size: 1em;
    padding-bottom: 15px;
    color: white;
}
footer a{
    color: burlywood;
}
footer p{
    color: burlywood;
    font-size: 1.2em;
}
footer a:hover{
    color: blue;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
footer {
    background-color: darkgray;
    padding: 25px 50px;
    margin: 200px 0;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 100px;
}
#hero-box{
    width: 1400px;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}