@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
.home-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
    color: burlywood;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 35px;
}
nav {
    display: flex;
    justify-content: space-around;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px; 
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h4 {
    color: white;
}
#hero-msg h1 , #hero-msg h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em; 
    text-align: center;
    width: 100%;
    color: burlywood;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10 1fr);
}
#background {
    height: 725px;
    background-color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    grid-row: 20;
}
body {
    background-color: #fcfbfb; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
nav a:hover{
    background-color: gray;
    color: blue;
}
.book, .join{
    background-color: burlywood;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: black;
    color: blue;
}
#background{
    height: 725px;
    background-color: burlywood;
    margin: 200px 0;
}
.msg{
    background-color: darkgray;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
h4{
    color: black;
}
.msg h2{
    color: white;
}
.msg p{
    font-size: 1em;
    padding-bottom: 15px;
    color: white;
}
footer a{
    color: burlywood;
}
footer p{
    color: burlywood;
    font-size: 1.2em;
}
footer a:hover{
    color: blue;
    text-decoration: underline;
}
footer .social img {
    padding-top: 15px;
}
footer {
    background-color: darkgray;
    padding: 25px 50px;
    margin: 200px 0;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.logo{
    width: 100px;
}
#hero-box{
    width: 1400px;
    grid-column: 1/4;
    grid-row: 1/3;
}
h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img {
    border: 10px solid #d9c2a3;
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.card-img, .mountains {
    width: 100%;
}
main section img {
    box-sizing: border-box;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    .subpage-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .msg {
        background-color: #f4f4f4;
        padding: 20px;
        margin-top: 20px;
        border-radius: 8px;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}